<div class="large-9 columns">
	<article>
		<h3>Installing Ruby on Rails on a Raspberry Pi</h3>
		<h6>Posted by Mark on 29 December 2013</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tortor porta, scelerisque odio non, sagittis purus. Nullam vehicula tempor nisl sodales tristique. Sed dapibus metus quis nibh lacinia, in tincidunt dui ornare. Praesent sit amet suscipit turpis, vel varius massa. Pellentesque fringilla purus massa, nec auctor mauris gravida vel. Phasellus vel mollis lorem. Praesent pulvinar lorem id eros viverra, sed viverra arcu malesuada. Nullam ut magna facilisis, sodales leo ultricies, rhoncus ante. Sed at mi convallis, tristique enim tristique, dictum metus. Vivamus sed imperdiet ligula. Proin blandit aliquam augue, in bibendum ligula posuere vitae. Morbi sed laoreet diam. Nullam et convallis urna.</p>

		<p>Donec auctor venenatis leo at vulputate. Etiam gravida, nibh pharetra bibendum imperdiet, ante nibh laoreet ante, vitae consequat turpis lorem vitae justo. Sed lobortis pulvinar risus, sit amet ullamcorper erat. Suspendisse ut ex metus. Ut vulputate lectus bibendum leo ullamcorper, sed porta metus luctus. Duis commodo quam ante, vitae porttitor turpis pharetra vel. Cras pretium lacinia dui. Nulla vitae orci leo. Vivamus rhoncus tincidunt lorem. Ut blandit nisi eget dui mattis, ut eleifend urna sollicitudin. Phasellus aliquam mi enim, volutpat ultrices felis luctus id. Sed lobortis tempor ullamcorper. Aenean consectetur erat quis turpis porttitor, vulputate semper turpis fringilla. Donec augue nibh, rhoncus quis vehicula sit amet, placerat eget dolor. Morbi felis dolor, scelerisque vel libero interdum, elementum rhoncus arcu. Proin facilisis enim lorem, vitae auctor dui mollis mollis.</p>

		<p>Nulla cursus condimentum est id ultricies. Mauris sodales elit eros, a mattis arcu commodo nec. Donec sit amet efficitur nunc. Morbi faucibus malesuada erat sit amet interdum. Nulla eget magna imperdiet, sollicitudin orci sed, aliquam lacus. Donec ullamcorper nibh et nibh sollicitudin mattis. Nam neque eros, ullamcorper vitae blandit non, molestie vel ipsum. Aliquam ex magna, commodo ut diam a, semper tristique enim. Aliquam a risus urna. Mauris tempor odio commodo orci pretium euismod.</p>

		<p>Nulla ac neque ullamcorper, euismod ante non, sollicitudin nulla. Donec cursus arcu eget auctor condimentum. Pellentesque semper, sem et elementum porttitor, justo sapien porta eros, at blandit arcu velit blandit ex. Aliquam ultrices nibh vitae mauris congue, ac lacinia enim dapibus. Vivamus quis tortor vel lacus consectetur venenatis. Donec consectetur euismod hendrerit. Nullam sit amet vulputate ligula. Aenean tincidunt interdum metus, ut consequat arcu posuere sit amet. Aliquam erat volutpat. Mauris aliquet lacus vitae nisl finibus, vel dictum elit efficitur.</p>

		<p>Phasellus pharetra elit sit amet lacus mollis mollis. Quisque vehicula, elit maximus accumsan venenatis, sapien tellus tincidunt quam, non consequat dui nulla nec massa. Ut libero urna, sodales vel dapibus id, mollis quis tellus. Nunc tempor sem a leo iaculis, eu convallis risus interdum. Phasellus vel tellus nec justo dapibus euismod ac eu sapien. Donec lobortis, magna in dapibus bibendum, leo mi luctus orci, et malesuada ex metus a neque. Fusce id turpis risus. Morbi imperdiet eros orci, quis euismod massa venenatis eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt sit amet nisl eu rhoncus. Ut venenatis, massa nec fringilla pellentesque, magna lectus elementum augue, id pulvinar magna mi ut libero. Proin at lectus feugiat, efficitur lectus non, maximus eros. Vivamus id tincidunt turpis. Phasellus vulputate interdum est. Cras convallis et nulla et sagittis. Donec venenatis, urna in maximus fringilla, mi libero accumsan urna, cursus scelerisque tellus tellus et ante.</p>
	</article>
</div>
<aside class="large-3 columns">
	<h5>Categories</h5>
	<ul class="side-nav">
		<li><a href="#">Tutorial</a></li>
		<li><a href="#">Rails</a></li>
		<li><a href="#">Nginx</a></li>
		<li><a href="#">News</a></li>
	</ul>
</aside>