<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rubypi</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/app.css">
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name"><h1><a href="/">RubyPi</a></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- right nav links -->
			<ul class="right">
				<li><a href="/">Home</a></li>
				<li><a href="/project">The Project</a></li>
				<li><a href="/hardware">The Hardware</a></li>
				<li><a href="/contact">Contact Me</a></li>
				<% if !session[:logged_in].nil? %>
					<li><a href="blog/new_post">New Post</a></li>
					<li><a href="/logout">Logout</a></li>
				<% end %>
			</ul>
		</section>
	</nav>
	<% flash.each do |key, value| %>
		<div class="large-6 large-centered columns">
			<% if key == "notice" %>
				<div data-alert class="alert-box success radius"><%= value %><a href="#" class="close">&times;</a></div>
			<% else %>
				<div data-alert class="alert-box alert radius"><%= value %><a href="#" class="close">&times;</a></div>
			<% end %>
		</div>
	<% end %>
	<div class="row">
		<div class="large-9 columns">
			<%= yield %>
		</div>
		<aside class="large-3 columns">
			<h5>Categories</h5>
			<ul class="side-nav">
				<li><a href="/#">Tutorial</a></li>
				<li><a href="/#">Rails</a></li>
				<li><a href="/#">Nginx</a></li>
				<li><a href="/#">News</a></li>
			</ul>
		</aside>
	</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/modernizr.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/foundation/foundation.alert.js"></script>
<script src="/js/foundation/foundation.topbar.js"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>
